*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(237, 208, 237, 0.663);
    padding: 10px;
}
body::before {
    content: "";
    position: absolute;
    background-image: url(./imges/background-pattern-desktop.svg);
    width: 100%;
    height: 35%;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.faq {
    position: absolute;
    width: 550px;
    backdrop-filter: blur(5px);
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    background-color: rgba(255, 255, 255, 0.466);
    padding: 20px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
@media(max-width:600px){
    .faq{
        max-width: 80%;
    }
}
.faq h1 {
    margin-left: 40px;
    margin-bottom: 20px;
    position: relative;
}
.faq h1::before {
    content: "";
    position: absolute;
    left: -45px;
    top: 50%;
    height: 30px;
    width: 30px;
    background-image: url(./imges/icon-star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    animation: rotate 6s linear 200ms infinite;
    -webkit-animation: rotate 6s linear 200ms infinite alternate;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@keyframes rotate{
to{
    transform: translateY(-50%) rotate(360deg) scale(2);
    -webkit-transform: translateY(-50%) rotate(360deg) scale(2);
    -moz-transform: translateY(-50%) rotate(360deg) scale(2);
    -ms-transform: translateY(-50%) rotate(360deg) scale(2);
    -o-transform: translateY(-50%) rotate(360deg) scale(2);
}
}
details {
    padding: 20px;
    list-style: none;
}
details:not(:last-child) {
    border-bottom: 1px solid rgb(224, 222, 222);
}

details summary {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
    position: relative;
}
details summary::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: -20px;
    top: 50%;
    background-image: url(./imges/icon-plus.svg);
    transform: translateY(-50%);
}
details[open] summary::before {
    background-image: url(./imges/icon-minus.svg);
}
@media(max-width:600px){
    details summary::before {
        right: -30px;
    }
}
details p {
    color: rgb(119, 119, 119);
    max-width: 90%;
    text-align: justify;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}